{%  extends "layout.html" %}

{% block content %}
    <div class="container">
        <h2 class="text-center">
            About the about page
        </h2>
        <div class="row">
            <div class="col-md-6">
                <img src="static/images/location.jpg" class="image-responsive" alt="">
            </div>
            <div class="col-md-6">
                <p>
                    please contact us.
                </p>
            </div>
         </div>
       
    </div>


{% endblock %}