{% extends "layout.html"%}

{%block content%}
<!-- <div class="container">
        <div class="row">
            <div class="well">
            <h1 class="text-center">Vote for your favorite</h1>
            <div class="list-group">
              <a href="#" class="list-group-item active">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive"  src="http://placehold.it/350x250" alt="placehold.it/350x250" >
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> List group heading </h4>
                        <p class="list-group-item-text"> Qui diam libris ei, vidisse incorrupte at mel. His euismod salutandi dissentiunt eu. Habeo offendit ea mea. Nostro blandit sea ea, viris timeam molestiae an has. At nisl platonem eum. 
                            Vel et nonumy gubergren, ad has tota facilis probatus. Ea legere legimus tibique cum, sale tantas vim ea, eu vivendo expetendis vim. Voluptua vituperatoribus et mel, ius no elitr deserunt mediocrem. Mea facilisi torquatos ad.
                        </p>
                    </div>
                    <div class="col-md-3 text-center">
                        <h2> 14240 <small> votes </small></h2>
                        <button type="button" class="btn btn-default btn-lg btn-block"> Vote Now! </button>
                        <div class="stars">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <p> Average 4.5 <small> / </small> 5 </p>
                    </div>
              </a>
            </div>
        </div>
        <div class="row">
              <a href="#" class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive" src="http://placehold.it/350x250" alt="placehold.it/350x250" >
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> List group heading </h4>
                        <p class="list-group-item-text"> Eu eum corpora torquatos, ne postea constituto mea, quo tale lorem facer no. Ut sed odio appetere partiendo, quo meliore salutandi ex. Vix an sanctus vivendo, sed vocibus accumsan petentium ea. 
                            Sed integre saperet at, no nec debet erant, quo dico incorrupte comprehensam ut. Et minimum consulatu ius, an dolores iracundia est, oportere vituperata interpretaris sea an. Sed id error quando indoctum, mel suas saperet at.                         
                        </p>
                    </div>
                    <div class="col-md-3 text-center">
                        <h2> 12424 <small> votes </small></h2>
                        <button type="button" class="btn btn-primary btn-lg btn-block">Vote Now!</button>
                        <div class="stars">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <p> Average 3.9 <small> / </small> 5 </p>
                    </div>
              </a>
        </div>
        <div class="row">
              <a href="#" class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive" src="http://placehold.it/350x250" alt="placehold.it/350x250">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> List group heading </h4>
                        <p class="list-group-item-text"> Ut mea viris eripuit theophrastus, cu ponderum accusata consequuntur cum. Suas quaestio cotidieque pro ea. Nam nihil persecuti philosophia id, nam quot populo ea. 
                            Falli urbanitas ei pri, eu est enim volumus, mei no volutpat periculis. Est errem iudicabit cu. At usu vocibus officiis, ad ius eros tibique appellantur.                         
                        </p>
                    </div>
                    <div class="col-md-3 text-center">
                        <h2> 13540 <small> votes </small></h2>
                        <button type="button" class="btn btn-primary btn-lg btn-block">Vote Now!</button>
                        <div class="stars">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <p> Average 4.1 <small> / </small> 5 </p>
                    </div>
              </a>
            </div>
        </div>
    </div> -->
<br>
    <div class="container">
        <div class="row border border-primary">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="static/images/location.jpg" class="image-responsive" alt="">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="contain-section">

                    <p>I don't know of a FREE Theme that can do this, but for $29 you can get a single site license of Answers (Affiliate Link) Theme by Templatic. Templatic's Themes are pretty powerful, but can also be a little daunting for beginners. 

                        I personally haven't used this Theme, but do have a Templatic Membership and their support is pretty good as are the support forums.</p>
                </div>
                <div class="review-section">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="voting">
                                <div class="votes"><label>Votes:</label> 4,352</div>
                                <button class="btn-vote">Vote!</button>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
        <br>
        <div class="row border border-primary">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img src="static/images/location.jpg" class="image-responsive" alt="">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="contain-section">
    
                        <p>I don't know of a FREE Theme that can do this, but for $29 you can get a single site license of Answers (Affiliate Link) Theme by Templatic. Templatic's Themes are pretty powerful, but can also be a little daunting for beginners. 
    
                            I personally haven't used this Theme, but do have a Templatic Membership and their support is pretty good as are the support forums.</p>
                    </div>
                    <div class="review-section">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <fieldset class="rating">
                                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="voting">
                                    <div class="votes"><label>Votes:</label> 4,352</div>
                                    <button class="btn-vote">Vote!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
<br>
{% endblock %} 